body {
    background-color: #eef5ff;
}


/* Structure */

.section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #fff;
    width: 70vw;
    height: 75vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 15px solid white;
    border-right: hidden;
    gap: 15px;
}

.image {
    background-image: url(images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    flex-grow: 1;
    border-radius: 15px;
}

.form {
    background-color: dodgerblue;
    flex-grow: 2;
    border-radius: 15px;
}